<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		.disabled {
			color: red;
		}
	</style>
</head>
<body>
	<div id="app">
		<input type="text" />
		<input type="button" value="ADD" />
		<ul>
			<li v-for="todo in todoList" >
				<input type="checkbox" :checked=todo.static>
				<span v-text =todo.item></span>
				<span><button>delete</button></span>
			</li>
		</ul>
		<!-- <ul>
			<li v-for="todo in todoList" v-text="todo">
				<p v-bind:class="{ disabled: todo.status }">@{{ todo.value }}</p>
				<input type="checkbox" v-if="todo.status" v-model="todo.status"  checked/>
				<input type="checkbox" v-if="!todo.status" v-model="todo.status" />
				<input type="button" value="DELETE" v-on:click="deleteItem(key)" />
			</li>
		</ul> -->
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		Vue.prototype.$http = axios;

		var app = new Vue({
			el: '#app',
			data: {
				todoList: [],
			},
			mounted: function() {
				var _this = this; // function內的this指向不同

				this.$http.get('/list.json').then(function (respones) {
					_this.todoList = respones.data;
  			}).catch(function (error) {
					console.log(error);
				});
			},
		})

	</script>
</body>
</html>