<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="todoItem" />
		<input type="button" v-on:click="addItem" value="ADD" />

		<ul>
			<li v-for="todo in todoList">
				<p>{{ todo.value }}</p>
				<input type="checkbox" v-if="todo.status" v-model="todo.status" v-on:click="changeStatus" checked/>
				<input type="checkbox" v-if="!todo.status" v-model="todo.status" v-on:click="changeStatus" />
				<button>DELETE</button>
			</li>
		</ul>
	</div>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				todoList: [
					{ 
						value: 'example2',
						status: false
					},
					{ 
						value: 'example3',
						status: true
					},
					{ 
						value: 'example4',
						status: true
					},
			  ],
				todoItem : '',
			},
			methods: {
				addItem: function () {
					this.todoList.push({
						value: this.todoItem,
						status: false
					});
				},
				changeStatus: function () {
					console.log(this.todoList);
				}
			}
		})
	</script>
</body>
</html>